/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
/*main.css*/
@charset "UTF-8";
/* CSS Document */

html, body, div, a, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: Roboto-Regular;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
}
html{height: 100%;}
body{ min-height: 100%;
    position: relative;
    padding-bottom: 100px;}



img{    max-width: 100%;
    height: auto;}

@font-face {
    font-family: Roboto-Regular;
    src: url(app/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(app/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(app/fonts/Roboto-Light.ttf);
}



.margin_0{margin:0 !important;}
.f_light{font-family: Roboto-Light;}
.display_inline{display:inline-block;}


/*******************************************Style*********************************/


.top_header{background:#fff;     box-shadow:0px 2px 6px #C9C6C6;  padding: 18px 0;
    border: none;}

.logo{display:block; margin-top:0px;}

.login_menu {margin:0 !important;}
.login_menu li{padding:0 !important;}
.login_menu li a{text-transform:uppercase; font-size:16px;   width: 100px;   text-align: center;}
.login_menu .active_menu{ background:#099edf !important; color:#fff !important;  border-radius:30px;}
.login_menu .active_menu:hover{ background:#0e96d2 !important;}




.login_box{background: #fff;
    padding: 30px;
    max-width: 500px;
    margin: auto;  border:1px solid #b5c8c9; border-radius:7px; }

.login_box h1{ font-size:28px; color:#009ddc;}
.login_box h2{ font-size:15px; color:#7e7e7e; margin:10px 0; line-height: normal;}

.login_form{padding:10px 0;}
.login_form p{color:rgba(253,61,64,1.00);}

.login_form label{display:block; margin:10px 0;}

.login_form input, select{width:100%; height:55px; padding:15px; border:1px solid #dfdfdf; border-radius:3px;}
.login_form [type=checkbox]{width:auto; height:auto; margin:0; vertical-align:middle;}
.forgot_pass{color:#a8a8a8; font-size:16px; font-family: Roboto-Bold;     margin:20px 0; display:block;
    vertical-align: top;}

.login_form [type=submit]{background:#009ddc; border:none; color:#ffffff; font-size:26px; padding:0;}

.login_form button{background:#009ddc; border:none; color:#ffffff; font-size:26px; padding:8px; width: 100%;}

.dont_account{font-size:18px; color:#a8a8a8;}
.dont_account a{color:#009ddc; font-weight:bold;}

.agree{font-size:18px; font-weight:600; color:#8e8e8e}

.qr_box{
    max-width: 900px;
    margin: auto;}

.qr_download{text-align:center;}
.qr_download img{display:inline-block;}

.jpg_or_png{margin:10px 0 15px 0; font-size:30px; color:#ddd;}
.jpg_or_png a{color:#747474; font-size:24px; text-decoration:none;}
.jpg_or_png  .active{color:#009ddc; cursor:text;}

.qr_download button{width: 100%; background:#009ddc;
    padding: 10px;
    max-width: 230px;
    border-radius: 3px;
    border: none;
    font-size: 22px;
    color: #fff;}
.qr_download button:disabled{ background:#d9d9d9;}


.footer{background:#fff; box-shadow:0px -1px 5px #ececec; padding:20px 15px; font-size:16px; color:#6c6c6c;     position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer a{font-size:14px; color:#6c6c6c; margin:0 10px;}


.main_caontainer{padding-top: 97px; padding-bottom: 20px;}

.menu{margin:0 !important;}
.menu li a{font-size:16px; color:#848484 !important;}
.menu li a:hover{font-size:16px; color:#099edf;}
.menu .active{color:#099edf !important;}

.user_manu{float:none; display:inline-block; margin-top:3px; padding-left: 15px;}
.user_manu>a{padding:0 !important;}
.user_manu>a:focus{background-color:transparent !important;}
.user_pic{display:inline-block; width:35px; height: 35px; border:1px solid #bbb; border-radius:30px; overflow:hidden; vertical-align:middle;}
.user_name{display:inline-block; font-size:16px; vertical-align:middle;}

.user_manu .dropdown-menu{margin-top:20px !important;}



/*.my_container{margin-top:20px; margin-bottom:20px;}
*/

.listing_main{margin:10px 0; border:1px solid #d2d2d2;}
.listing_header{ margin:0; padding:15px 0;}

.total_bls{ font-size:24px; color: #39b3e4;}
.total_bls strong{color:#565656; font-size:20px; font-weight: bold;}

.date_input{ display:inline-block; position:relative;}
.date_input input{border:1px solid #e6e6e6; height:40px; padding:10px;}
.date_input  .fa-calendar{position:absolute; right:10px; top:13px; color:#7c7c7c; font-size:14px;}



.table_outer{overflow:auto;}

.table_outer .table{font-size:16px; margin:0; min-width:600px; color:#7c7c7c;}
.table_outer .table .table_header{font-size:16px; color:#4e4e4e; font-family: Roboto-Bold;}
.table_outer .table em{font-weight:bold; color:#009ddc; font-style:normal;}
.table_outer .table .fa{color:#aaa;}

.pagi {
    text-align: right; margin-top:20px;
}
.pagi a {
    font-size: 14px;
    color: #555;
    margin: 0px 0 0px 8px;
    padding: 0px 10px;
    line-height:26px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    display: inline-block;

}
.pagi .pre-nxt {
    background: #fff;
    border-radius: 2px;
    text-align: center;
    text-transform:uppercase;
}
.pagi .pagi-act {
    background: #1995fb;
    color:#fff;
    border-color: #1786e2;
}



.user_detail div{display:inline-block; vertical-align:middle;}
.detail_pic{width:56px; height:56px; border-radius:50px; overflow:hidden; margin-right: 10px;}
.detail_pic img{height:56px; max-width:none;}
.detail_add h2{ font-size:22px; color:#39b3e4;}
.detail_add h2 strong{ font-size:20px; color:#4e4e4e;}
.detail_add .fa{color:#cccccc;}
.detail_add h3{ font-size:14px; color:#4e4e4e; font-weight:600; margin:8px 0;}

.settings{margin:auto; max-width:580px; border:1px solid #ddd;}
.settings .setting_row{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.settings table td{padding:10px; font-size:16px; color:#959595;}

.settings h1{font-size:22px; color:#39b3e4; margin:8px;}

.change_pic{margin:auto; width:112px; height:112px; position:relative;}
.change_pic .user_change_pic{display:block; width:100%; height:100%;     border-radius: 70px;
    overflow: hidden;}

.change_pic .user_img_setting{height: 112px;  max-width: none;}

.change_pic_icon{    position: absolute;
    top: 0;
    right: 4px;
    background: #fff;
    border-radius: 40px;}

.settings table input{border:1px solid #ddd; padding:8px; width:100%;}

.settings_save{background:#009DDC; color:#FFF; width:120px;}
.settings_save:hover{color:#fff;}



@charset "UTF-8";
/* CSS Document */


@media (max-width: 1400px){
    .login_box, .qr_box{margin-top:3%; margin-bottom:4%;}

}
@media (min-width: 1401px){
    .login_box, .qr_box{margin-top:10%; margin-bottom:10%;}

}


@media (max-width: 767px){

    .text_left_767{ text-align:left;}

    .top_header{padding:10px 0;}

    .logo{padding-left:15px; margin-top: 5px; }
    .login_box{padding:15px;}


    .footer a{ margin-top:10px;}

    .menu .active{ background:#f1f1f1;}



}